.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #607274;
}

h2 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #111416;
  font-size: 4rem;
  color: #FFECD6;
}

p {
  font-size: 2rem;
  color: #FFECD6;
  font-family: 'Indie Flower', cursive;
  text-shadow: 2px 5px #111416;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
